body {
    margin: 0 auto;
    padding: 0;
    background-color: #aaa;
    font-family: Arial, sans-serif;
}
#jqury-overlay{ 
 position:fixed;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:black;
 opacity:0.7;
 z-index:999;
 }
#header {
    margin: 0;
    padding: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: url(../img/bkg.jpg) center / cover;
}

#header_logo {padding: 0;}

#header_adress {
    padding: 20px 0 0;
    color: #f2f2f2;
}

.adress_h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.adress_p {
    font-size: 14px;
    padding-bottom: 10px;
}

#header_form {padding: 0}

.hform {
    max-width: 250px;
    padding: 80px 0 0 0;
}

#nav {
    margin: 0;
    padding: 0 1.5% 0 25%;
    max-width: 100%;
}

.nav_list {
    padding: 16px 0 16px 16px;
    text-transform: uppercase;
    font-size: 16px;
}

.nav_list a, #nav_list-hover a {
    color: #f2f2f2;
    font-weight: 600;
}

.nav_list a:hover {
    text-decoration: none;
    color: #428bca;
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#nav_list-hover a:hover {
    text-decoration: none;
    color: #428bca;
}

.basket {padding: 30px 0 10px 0;}

.basket_link {
    font-family: Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.basket_link:hover {
    text-decoration: none;
    color: #428bca;
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.dropdown-menu {background-color: #222;}

#main {
    margin: -15px 0 0;
    padding: 0;
}

#aside {
    margin: 0 auto;
    padding: 20px 10px 34px 10px;
    background-color: #f2f2f2;
    border-right: 1px solid #bbb;
}

.aside_submenu {
    padding: 10px;
    text-align: center;
    height: 150px;
}

.links_menu {
    margin: 10px auto;
    max-width: 250px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

#market_banner {
    margin: 0 auto;
    padding-top: 30px;
}

.aside_weather {padding: 50px 0 0;}

.weather { 
    margin: 0 auto;
    width: 220px; 
}

#section {
    padding: 20px 20px 40px 20px;
    background-color: #f2f2f2; 
}

.section_text {padding-bottom: 20px;}

.stext_h1 {
    margin: 10px 0 15px 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #337ab7;
}

.stext_p {
    font-size: 16px;
    color: #888;
    line-height: 22px;
}

.link_img {
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 6px 10px 0px #000;
}

.link_img-main {
    margin: 0 auto;
    margin-bottom: 20px;
}

.link_img:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.item_h1 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

#footer {
    margin: 0;
    padding: 0;
    background-color: #222;
    border-top: 6px solid #aaa;
}

.copyright_text {
    padding: 40px 0;
    color: #888;
    font-size: 16px;
}

#ftrmenu {padding-top: 40px;}

#map_title {
    margin-bottom: 15px;
    font-size: 16px;
    color: #888;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
}

.map_link {
    display: block;
    padding-bottom: 5px;
    color: #888;
    font-size: 16px;
}

#socialnet {padding: 40px 0;}

#socialnet_title {
    text-transform: uppercase;
    color: #888;
    margin-bottom: 10px;
    border-bottom: 1px solid #888;
}

.ftrimg_link:hover {
    transform: rotate3d(0, 1, 0, 360deg);
    transition: all .7s ease;
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.formreg_link-right {
    margin: 0;
    padding: 0;
    max-width: 190px;
}

.formreg_link-right li {
    display: inline-block;
    font-size: 14px;
}

.glyphicon-shopping-cart {color:white;}

.modal-window {
    position: fixed;
    top: 30%;
    left: 29%;
    padding: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0.95;
    z-index: 1000;
}
#overly-close{ 
  color:#c2c2c2;
  background:red;

 }